
<p id="notice"><%= notice %></p>

<div class="col-6">
  <%= render 'shared/dog_card', dog: @dog %>
</div>

<% if user_signed_in? %>
  <%= link_to 'Book this Doggo', new_dog_booking_path(@dog), class: "btn btn-primary" %>
  <%= link_to 'Edit your Doggo', edit_dog_path(@dog), class: "btn btn-ghost" %>
<% end %>
<%= link_to 'Back to Doggos', dogs_path, class: "btn btn-gradient" %>
