<div class="card-dog d-flex">
  <%= image_tag "doggo_card1.jpg" %>
  <div class="card-product-infos">
    <h2><%= dog.name %></h2>
    <p><strong>Age: </strong><%= dog.age %> </p>
    <p><strong>Size: </strong><%= dog.size %> </p>
    <p><strong>Breed: </strong><%= dog.breed %> </p>
    <p><strong>Activity: </strong><%= dog.activity %> </p>
  </div>
</div>
